<br>
<div class="container card bg-light">
	<h1>Editar Usuario</h1>

<%= render 'form', user: @user %>
<div>
	<%= link_to 'Mostrar', @user, class: "btn btn-warning" %>
	<%= link_to 'Atras', users_path, class: "btn btn-info" %>
</div>

  <div>
 	
 </div>


</div>
