<br>



<div class="container card bg-light">
	<br>
	<h1>Nuevo Usuario</h1>

<%= render 'form', user: @user %> <br>
<br>
<div>
	<%= link_to 'atras', users_path, class: "btn btn-info" %> <br> <br>
</div>


</Div>


